{% extends 'website/base.html' %} 

{% block title %}প্রশাসন | SchoolProject{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-gray-50 to-white py-8">
  <div class="container max-w-[90rem] mx-auto px-4">
    <h1 class="sans text-4xl md:text-5  xl font-semibold text-center text-[var(--color-primary)] mb-8">
      প্রশাসন
    </h1>

    {% include 'component/administration/management.html' %}
    {% include 'component/administration/teachers.html' %}
    {% include 'component/administration/administration_officer.html' %}
    {% include 'component/administration/kormochari.html' %}
  </div>
</div>  
{% endblock %}
    